UseDNS                 no
PasswordAuthentication no
RSAAuthentication      yes
PubkeyAuthentication   yes
AuthorizedKeysFile     .ssh/authorized_keys
Subsystem sftp         /usr/lib/ssh/sftp-server
PermitRootLogin        prohibit-password
